body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
h2{
    font-size: 2.5rem;
    background-color: black;
    border-radius: 5px;
    color: white;
}

#video { 
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-height: 100%;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

#ToDoList{
    text-align: center;
}

#clock{
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
    font-size: 3rem;
}
#title{
    font-size: 5rem;
    color: white;
}

ul{
    padding: 0;
}
li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.ToDoInput{
    font-size: 1.5rem;
    font-weight: 500;
    border-radius: 5px;
    padding: 5px;
    vertical-align: middle;
    outline: none;
    border: none;
}

.ToDoBtn{
    width: 70px;
    height: 38px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;
    background-color: black;
    color: white;
    outline: none;
}

.List{
    width: 45%;
    max-width: 600px;
    margin: auto;
}

#pendingList{
    border: 2.5px solid black;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    border-radius: 5px;
    height: 49vh;
    overflow: auto;
    margin: auto;
}

#finishList{
    border: 2.5px solid black;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    border-radius: 5px;
    height: 49vh;
    overflow: auto;
    margin: auto;
}

.pending_li, .finish_li{
    padding-left: 5px;
    font-size: 2.5rem;
}
.pending_li > div > button, .finish_li > div > button{
    margin: 0 5px 0 5px;
    font-size: 1.5rem;
    width: 70px;
    height: 32px;
    border-radius: 5px;
    border: none;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}
.pending_li  > span, .finish_li  > span{
    width: calc(100% - 165px);
    overflow: auto;
}

#goToDo{
    display: none;
}
#listBox{
    display: flex;
    justify-content: space-between;
}

#js_weather{
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-weight: 500;
    font-size: 2rem;
}